<!doctype>

<html>

  <head>
    <title>All Artists</title>
    <link rel="stylesheet" type="text-css" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
  </head>

  <body>
    <div class="header">
      <div class="wrap">
        <div class="nav">
          <h1 class="gc">
            <a href="http://guildcollective.heroku.com/artists">
              <div class="img gc-img"></div>
            </a>
          </h1>
          <h2 class="artist-tag">
            <span class="artist-name artist-name-all">Artists</span>
          </h2>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="wrap">
        <div class="artists-list">
        <% artists.forEach(function (artist) { %>
          <div class="cancel-padding">
            <a href="http://guildcollective.heroku.com/artists/<%= artist.username %>">
              <div class="flag">
                <img class="flag-image" src="<%= artist.profilePic %>" />
                <div class="flag-body">
                  <span class="list-name"><%= artist.fullName %></span>
                  <span class="list-guild"><%= artist.guild %></span>
                </div>
              </div>
            </a>
          </div>
        <% }); %>
        </div>
      </div>
    </div>
    <div class="footer">
        <ul class="links">
          <li>
            <a href="http://guildcollective.heroku.com/artists" target="_blank">
              <div class="wrap">
                <div class="cancel-padding">Artists</div>
              </div>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/search?q=%23GuildCo2013" target="_blank">
              <div class="wrap">
                <div class="cancel-padding">#GuildCo2013</div>
              </div>
            </a>
          </li>
          <li>
            <a href="http://twitter.com/the_guild_co" target="_blank">
              <div class="wrap">
                <div class="cancel-padding">@the_guild_co</div>
              </div>
            </a>
          </li>
        </ul>
    </div>
  </body>

</html>
