<!doctype>
<html>
<head>
  <title>Welcome</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/form.css" />
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
</head>
<body>
  <div class="wrapper">
    <h1 class="instruction">Please fill in your info, <%= username %></h1>
    <form name="artist-form" class="artist-form" action="/artists/<%= username %>" method="POST">
      <input type="hidden" name="_method" value="POST" />
      <label for="fullName">Full Name:</label><input type="text" name="fullName" placeholder="First Last (optional)" /><br />
      <label for="hometown">Hometown:</label><input type="text" name="hometown" placeholder="(optional)" /><br />
      <label for="guild">Guild:</label><input type="text" name="guild" placeholder="ie. Hackers Guild"/><br />
      <label for="bio">Bio:</label><input type="text" name="bio" placeholder="Keep it short! (optional)" /><br />
      <div class="submit">Create Artist</div>
      <noscript>
        <input type="submit" value="Create Artist" />
      </noscript>
    </form>
  </div>
  <script type="text/javascript" src="/javascripts/form.js">
  </script>
</body>
</html>
