<!doctype>
<html>
<head>
  <title>Welcome
  </title>
</head>
<body>
  <h1>Please fill in your info, <%= username %></h1>
  <form action="/artists/create/<%= username %>" method="POST">
    <input type="hidden" name="_method" value="POST" />
    <input type="text" name="fullName" value="Full Name (optional) />
    <input type="submit" name="hometown" value="Hometown (optional)" />
    <input type="text" name="guild" value="Guild" />
    <input type="text" name="bio" value="Write a short bio about yourself pertaining to your discipline" />
    <input type="submit"  value="Create Artist" />
  </form>
</body>
</html>
