<!doctype>
<html>
<head>
  <title>Welcome
  </title>
  <link rel="stylesheet" type="text/css" href="stylesheets/form.css" />
</head>
<body>
  <div class="wrapper">
    <h1>Please fill in your info, Batman</h1>
    <form class="artist-form" action="" method="POST">
      <input type="hidden" name="_method" value="POST" />
      <label for="fullName">Full Name:</label><input type="text" name="fullName" value="First Last (optional)" /><br />
      <label for="hometown">Hometown:</label><input type="text" name="hometown" value="(optional)" /><br />
      <label for="guild">Guild:</label><input type="text" name="guild" value="ie. Hackers Guild"/><br />
      <label for="bio">Bio:</label><input type="text" name="bio" value="Keep it short! (optional)" /><br />
      <a href="#"><div class="submit">Create Artist</div></a>
      <noscript>
        <input type="submit" value="Create Artist" />
      </noscript>
    </form>
  </div>
  <script type="text/javascript" src="javascripts/form.js">
  </script>
</body>
</html>
