<!doctype>
<html>
<head>
  <title>Add a piece</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/form.css" />
</head>
<body>
  </form>
  <div class="wrapper">
    <h1>Please fill in some info about your piece, <%= username %></h1>
    <form name="piece-form" class="piece-form" action="/pieces/<%= username %>" method="POST">
      <input type="hidden" name="_method" value="POST" />
      <label for="title">Title:</label><input type="text" name="title" placeholder="&quot;Untitled 1&quot; is ok :~)" /><br />
      <label for="piecePic">Picture:</label><input type="text" name="piecePic" placeholder="(optional)" /><br />
      <label for="creationDate">Creation Date:</label><input type="text" name="creationDate" placeholder="Creation date of the piece" /><br />
      <label for="medium">Medium:</label><input type="text" name="medium" placeholder="Medium" /><br />
      <label for="description">Description:</label><input type="text" name="description" placeholder="A description of the piece" /><br />
      <div class="submit">Create Piece</div>
      <noscript>
        <input type="submit" value="Create Piece" />
      </noscript>
    </form>
  </div>
  <script type="text/javascript" src="/javascripts/form.js">
  </script>
</body>
</html>
