<!doctype>
<html>
<head>
  <title>Add a piece
  </title>
</head>
<body>
  <h1>Please fill in some info about your piece, <%= username %></h1>
  <form action="/pieces/<%= username %>" method="POST">
    <input type="hidden" name="_method" value="POST" />
    <input type="text" name="title" value="Title" />
    <input type="text" name="piecePic" value="The URL of an image of this piece" />
    <input type="text" name="creationDate" value="Creation date of the piece" />
    <input type="text" name="medium" value="Medium" />
    <input type="text" name="description" value="A description of the piece" />
    <input type="submit"  value="Create Piece" />
  </form>
</body>
</html>
