<!doctype>
<html>
<head>
  <title>Welcome, <%= username %></title>
</head>
<body>
  <img src="https://api.twitter.com/1/users/profile_image?screen_name=<%= username %>&size=original" />
  <a href="/pieces/create/<%= username %>">Add a piece of your work</a>
</body>
</html>
