<!doctype>
<html>
<head>
  <title>Welcome
  </title>
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css" />
</head>
<body>
  <div class="wrapper">
    <img class="logo clearfix" src="/images/guildCoLogo.png" />
    <a href="/auth/twitter">
      <div class="login">Login with Twitter<img class="twitter-bird" src="/images/Twitter_bird_logo_2012_height_30px.png" /></div>
    </a>
  </div>
</body>
</html>
