<!doctype>
<html>
<head>
  <title>Welcome
  </title>
</head>
<body>
  <h1>GUILD COLLECTIVE
  </h1>
  <h2>2013
  </h2>
  <form>
    <a href="/auth/twitter" name="login">Login with Twitter</a>
  </form>
</body>
</html>
